services:
  # Django web application
  web:
    build: .
    restart: unless-stopped
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    volumes:
      - .:/app
    command: gunicorn api.wsgi:application -c gunicorn.conf.py
    container_name: announce_backend

  # Celery worker
  celery-worker:
    build: .
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - .:/app
      - ${SECRETS_DIR:-./secrets}:/secrets
    command: celery -A api worker --concurrency=4 -E
    container_name: announce_worker

  # Celery beat scheduler
  celery-beat:
    build: .
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - .:/app
    command: celery -A api beat
    container_name: announce_beat
